
<head>

	<link rel="stylesheet" href="/static/css/linearicons.css">
	<link rel="stylesheet" href="/static/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/css/themify-icons.css">
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<link rel="stylesheet" href="/static/css/owl.carousel.css">
	<link rel="stylesheet" href="/static/css/nice-select.css">
	<link rel="stylesheet" href="/static/css/nouislider.min.css">
	<link rel="stylesheet" href="/static/css/ion.rangeSlider.css" />
	<link rel="stylesheet" href="/static/css/ion.rangeSlider.skinFlat.css" />
	<link rel="stylesheet" href="/static/css/magnific-popup.css">
	<link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/index.css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

	
</head>

<body>

	<!-- Start Header Area -->
	<header class="header_area sticky-header">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light main_box">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href="index.html"><img src="/static/images/logoicon.png" alt="" height="50" width="50"><span class=" ml-2" style="color: #006633;" ><strong>LEGISLAÇÃO</strong></span></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav ml-auto">
							
							<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Validar Documento</a>
								<ul class="dropdown-menu">
                                    <form id="form_pesquisa" method="GET" action="{% url 'abrir_pdf' %}" class="">                                  
                                    <input class="form-control shadow-lg" id="hash" type="search" name="hash" placeholder="Insira a chave Autenticadora">
                                    <button type='submit' id="filter-hash-button" class=" btn-autenticar btn btn-secondary ">Validar</button>
                                    </form>
                                </ul>
							</li>
							
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li class="nav-item submenu dropdown">
                                <form id="form_pesquisa" method="GET" action="{% url 'search_results' %}" class="p-3 w-100 d-flex justify-content-end form-inline caixa_de_pesquisa">                                    <div>
                                        <input class="form-control mr-sm-2" id="filter" type="search" name="texto" placeholder="Pesquisar">
                                        <button type="submit" class="btn" ><i class="bi bi-search"></i></button>
                                    </div>
                    
                                    
                                </form>
                            </li>
							
						</ul>
                        <ul>
                            <select id="ano-select" class="form-control" name="ano">
                                <option value="">Selecione o Ano</option>
                                {% for ano in anos %}
                                    <option value="{{ano}}">{{ano}}</option>
                                {% endfor %}
                            </select>
                        </ul>
					</div>
				</div>
			</nav>
		</div>
		
       
	</header>
	<!-- End Header Area -->
 
	<!-- start banner Area -->
        <div class="publico-content">
            
		
						
                                    {% regroup boletim|dictsort:'data_criacao' by data_criacao|date:'Y' as atos_by_year %}
                                    {% for atos_group in atos_by_year %}
                                    <div class="mb-2 div-collapse w-60 portaria-section" data-ano="{{ atos_group.grouper }}">
                                        <button class=" btn-boletim w-100 text-dark text-left btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapse0{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse0{{ forloop.counter }}">
                                        BOLETIM - {{ atos_group.grouper }}
                                        </button>
                                    </div>
                                    <div class="collapse div-collapse" id="collapse0{{ forloop.counter }}">
                                        {% for ato in atos_group.list %}
                                            <div class="mb-2 card card-body">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <a href="{% url 'gerar_boletim' ato_ids=ato.portarias_fks boletim_id=ato.id %}" class=" text-muted text-decoration-none">
                                                <h5 class="card-title">{{ato.id}} - {{ ato.titulo|upper }}</h5>
                                                <p class="card-text">{{ ato.conteudo_pdf|truncatechars:100}}</p>
                                                </a>
                                                                       
                                            </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    {% endfor %}
                                
                                    {% regroup resolucao|dictsort:'doe_data' by doe_data|date:'Y' as atos_by_year %}
                                    {% for atos_group in atos_by_year %}
                                    <div class="div-collapse mb-2 w-60 portaria-section" data-ano="{{ atos_group.grouper }}">
                                        <button class="btn-boletim w-100 text-dark text-left btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse1{{ forloop.counter }}">
                                        RESOLUÇÃO - {{ atos_group.grouper }}
                                        </button>
                                    </div>
                                    <div class="collapse div-collapse" id="collapse1{{ forloop.counter }}">
                                        {% for ato in atos_group.list %}
                                            <div class="mb-2 card card-body">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <a href="{% url 'view_publico' ato.id %}"  class="card-title text-decoration-none text-muted">
                                                <h5 class="card-title">{{ ato.tipo_ato|upper }}</h5>
                                                <h6 class="card-subtitle mb-2 text-muted">{{ ato.assinante1 }} / {{ ato.autoridade1 }} / {{ ato.dt_cadastro }}</h6>
                                                <p class="card-text">{{ ato.ementa|truncatechars:100}}</p>
                                                </a>
                                            </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    {% endfor %}
                                
                                
                                    {% regroup portaria|dictsort:'doe_data' by doe_data|date:'Y' as atos_by_year %}
                                    {% for atos_group in atos_by_year %}
                                
                                    <div class="div-collapse mb-2 w-60 portaria-section" data-ano="{{ atos_group.grouper }}">
                                        <button class=" btn-boletim w-100 text-dark text-left btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
                                        PORTARIA - {{ atos_group.grouper }}
                                        </button>
                                    </div>
                                
                                    <div class="collapse div-collapse " id="collapse{{ forloop.counter }}">
                                        {% for ato in atos_group.list %}
                                            <div class="mb-2  card card-body">
                                            <div class="d-flex justify-content-between  align-items-center">
                                                <a href="{% url 'view_publico' ato.id %}" class="card-title text-decoration-none text-muted" >
                                                <h5 class="card-title">{{ ato.tipo_ato|upper }} N° {{ ato.numero }}</h5>
                                                <h6 class="card-subtitle mb-2 text-muted"> {{ ato.dt_cadastro|date}}</h6>
                                                <p class="card-text">{{ ato.ementa|truncatechars:100}}</p>
                                                <p class="card-title" style="font-size: 13px">Autenticidade: {{ ato.ato_hashes.first.pdf_hash }}</p>
                                                </a>
                                            </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    {% endfor %}
                                
						        </div>
	

	
	<!-- start footer Area -->
	<footer class="footer-area ">
                <div class="d-flex justify-content-center mt-2">
                    <p class="text-light">Desenvolvido pelo CTIC/UEA </p>
                </div>
					
	</footer>
	<!-- End footer Area -->
    <script>
        const anoSelect = document.querySelector('#ano-select');
        const portariaSections = document.querySelectorAll('.portaria-section');
        
        anoSelect.addEventListener('change', filterSections);
        
        function filterSections() {
            const selectedYear = anoSelect.value; 
        
            for (let section of portariaSections) {
                const sectionYear = section.getAttribute('data-ano'); 
        
                if (sectionYear === selectedYear || selectedYear === "") {
                    section.style.display = "block"; 
                } else {
                    section.style.display = "none"; 
                }
            }
        }
        
        filterSections();
        
        
        
        const filterElement = document.querySelector('#filter');
        const cards = document.querySelectorAll('.card.card-body');
        
        filterElement.addEventListener('input', filterCards);
        
        function filterCards() {
            if (filterElement.value != '') {
                for (let card of cards) {
                    let title = card.querySelector('h5').textContent.toLowerCase();
                    let description = card.querySelector('p').textContent.toLowerCase();
                    let filterText = filterElement.value.toLowerCase();
                    if (!(title.includes(filterText) || description.includes(filterText))) {
                        card.style.display = "none";
                    } else {
                        card.style.display = "block";
                    }
                }
            } else {
                for (let card of cards) {
                    card.style.display = "block";
                }
            }
        }
        
        
        
        </script>
	<script src="/static/js/vendor/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src="/static/js/vendor/bootstrap.min.js"></script>
	<script src="/static/js/jquery.ajaxchimp.min.js"></script>
	<script src="/static/js/jquery.nice-select.min.js"></script>
	<script src="/static/js/jquery.sticky.js"></script>
	<script src="/static/js/nouislider.min.js"></script>
	<script src="/static/js/countdown.js"></script>
	<script src="/static/js/jquery.magnific-popup.min.js"></script>
	<script src="/static/js/owl.carousel.min.js"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="js/gmaps.min.js"></script>
	<script src="/static/js/main.js"></script>
</body>

</html>