{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  {% include 'parciais/head.html' %}

  <body>
    {% include 'parciais/navbar.html'%}

    <div class="publico-content">
      <!-- Para os Atos -->
      <table class="table table-bordered table-hover">
        <thead>
          <form id="filter-form" method="GET" action="{% url 'aprovados'  %}">
            <tr>
              <th scope="col">
                <button class="form-control" id="reset">
                  <i class="bi bi-arrow-clockwise"></i>
                </button>

                <!-- <span class="">#</span> -->
              </th>
              <th scope="col">
                <label for="ato">Ato Normativo</label>

                <div class="input-group">
                  <select class="form-control col-auto" name="tipoato" id="tipoato">
                      <option disabled selected>Tipo Ato</option>
                      <option value="portaria">Portaria</option>
                      <option value="Resolução">Resolução</option>
                      <option value="Boletim">Boletim</option>
                  </select>
                  <input class="form-control col-4" id="numero" type="search" name="numero" placeholder="Nº" />
              </div>
              </th>
              <th scope="col">
                <label for="ementa">Ementa</label>
                <input
                  class="form-control"
                  name="ementa"
                  id="ementa"
                  type="search"
                />
              </th>
              <th>
                <label for="autoridade">Autoridade</label>
                <input
                  class="form-control"
                  name="autoridade"
                  id="autoridade"
                  type="search"
                />
              </th>

              <th>
                <label for="status">Status</label>
                <select class="form-control" id="status" name="status">
                  <option value=""></option>
                  <option value="aprovado">Aprovado</option>
                  <option value="pendente">Pendente</option>
                  <option value="revisao">Revisão</option>
                  <option value="cancelado">Cancelado</option>
                </select>
              </th>
              <th>
                <select id="ano-select" class="form-control" name="ano">
                  <option value="">Ano</option>
                  {% for ano in anos %}
                      <option value="{{ano}}">{{ano}}</option>
                      <option value="2022" >2022</option>
                  {% endfor %}
              </select>
              </th>

              <th>
                <p>Ações</p>
              </th>
            </tr>
          </form>
        </thead>

        {% for ato in atos %}

        <tbody>
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>
              <a
                href="{% url 'view' ato.id %}"
                class="text-decoration-none text-muted"
              >
                {{ ato.tipo_ato|upper }} N° {{ ato.numero }} - D: {{ato.id}}
              </a>
            </td>
            <td>
              <a
                href="{% url 'view' ato.id %}"
                class="text-decoration-none text-muted"
              >
                {{ ato.ementa|truncatechars:70}}
              </a>
            </td>
            <td>{{ato.autoridade1}}</td>
            <td>
              {% if ato.status == 'aprovado' %}
              <span class="text-success"> {{ato.status|upper}} </span>
              {% endif %} {% if ato.status == 'revisao' %}
              <span class="text-warning"> {{ato.status|upper}} </span>
              {% endif %} {% if ato.status == 'cancelado' %}
              <span class="text-danger"> {{ato.status|upper}} </span>
              {% endif %}
            </td>
            <td>
              {{ato.dt_cadastro.year}}
            </td>
            <td>
              <div class="d-flex flex-wrap w-100">
                <a
                  class="text-dark text-decoration-none"
                  href="{% url 'view' ato.id %}"
                  ><i class="bi bi-eye"></i
                ></a>
                {% if ato.status == "revisao" %}
                <a
                  class="ml-2 text-dark text-decoration-none"
                  href="{% url 'editar_ato' ato_id=ato.id %}"
                  ><i class="bi bi-pen"></i
                ></a>
                {% endif %}
              </div>
            </td>
          </tr>
        </tbody>

        {% endfor %} 
        {% for ato in boletim %}

        <tbody>
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>
              <a
                href="{% url 'view_boletim' ato_ids=ato.portarias_fks %}"
                class="text-decoration-none text-muted"
              >
                {{ ato.titulo|upper|truncatechars:10 }} N° {{ ato.id }}
              </a>
            </td>
            <td colspan="2">
              <a
                href="{% url 'view_publico' ato.id %}"
                class="text-decoration-none text-muted"
              >
                {{ ato.conteudo_pdf|truncatechars:100}}
              </a>
            </td>
            <td>
              {% if ato.status == 'aprovado' %}
              <span class="text-success"> {{ato.status|upper}} </span>
              {% endif %} {% if ato.status == 'revisao' %}
              <span class="text-warning"> {{ato.status|upper}} </span>
              {% endif %} {% if ato.status == 'cancelado' %}
              <span class="text-danger"> {{ato.status|upper}} </span>
              {% endif %}
            </td>
            <td>
              {{ato.data_criacao.year}}
            </td>
            <td>
              <div class="d-flex flex-wrap w-100">
                <a
                  class="text-dark text-decoration-none"
                  href="{% url 'view' ato.id %}"
                  ><i class="bi bi-eye"></i
                ></a>
                {% if ato.status == "revisao" %}
                <a
                  class="ml-2 text-dark text-decoration-none"
                  href="{% url 'editar_ato' ato_id=ato.id %}"
                  ><i class="bi bi-pen"></i
                ></a>
                {% endif %}
              </div>
            </td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
        {% if atos.has_other_pages %}
        <ul class="pagination   d-flex justify-content-center align-items-center">
          {% if atos.has_previous %}
          <li class="page-item p-1"><a class="text-dark" href="?page_atos={{ atos.previous_page_number }}"> &laquo;</a></li>
        
          {% endif %}
          {% for num in atos.paginator.page_range %}
          {% if atos.number == num %}
          <li class="page-item p-1"><span class="">{{ num }} <span
                class="sr-only">(current)</span></span></li>
          {% elif num > atos.number|add:'-3' and num < atos.number|add:'3' %}
          <li class="page-item p-1"><a class="text-dark" href="?page_atos={{ num }}">{{ num }}</a></li>
          {% endif %}
          {% endfor %}
          {% if atos.has_next %}
          <li class="page-item p-1"><a class="text-dark" href="?page_atos={{ atos.next_page_number }}">&raquo;</a></li>
          
          {% endif %}
        </ul>
        {% endif %}
      
    

      <script>
        const ato = document.querySelector("#tipoato");
        const numero = document.querySelector("#numero");
        const select = document.querySelector("#status");
        const autoridade = document.querySelector("#autoridade");
        const ementa = document.querySelector("#ementa");
        const ano = document.querySelector("#ano-select")
        const form = document.querySelector("#filter-form");

        numero.addEventListener("change", () => form.submit());
        ano.addEventListener("change", () => form.submit());
        ementa.addEventListener("change", () => form.submit());
        select.addEventListener("change", () => form.submit());
        ato.addEventListener("change", () => form.submit());
        autoridade.addEventListener("change", () => form.submit());
        assinante.addEventListener("change", () => form.submit());
        const reset = document.querySelector("#reset");
        reset.addEventListener("click", function (event) {
            event.preventDefault();

            numero.value = "";
            tipoato.value = "";
            ano.value = "";

            form.submit();
        });
      </script>
    </div>

    {% include 'parciais/footer.html'%}
  </body>
</html>
